#hero {
  background: url("../../assets/images//hero.jpg") no-repeat;
  background-position: center 30px;
  background-size: cover;
  height: 100vh;
}

.hero__desc {
  margin-top: 15rem;
  /* padding: 10px; */
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.hero__desc-img{
    object-fit: scale-down;
    margin-bottom: 20px;
}