@import url("../../assets/css/colors.min.css");
/* @import url("../../assets/css/vendors.min.css"); */
@import url("../../assets/css/components.min.css");
@import url("../../assets/css/bootstrap.min.css");
@import url("../../assets/css/bootstrap-extended.min.css");
@import url("../../assets/css/index.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --red: #9c0404;
  --red-17: #1f0101;
  --red-16: #2f0101;
  --red-15: #3e0202;
  --red-14: #4e0202;
  --red-13: #5e0202;
  --red-12: #6d0303;
  --red-11: #7d0303;
  --red-10: #8c0404;
  --red-9: #a61d1d;
  --red-8: #b03636;
  --red-7: #ba4f4f;
  --red-6: #c46868;
  --red-5: #ce8282;
  --red-4: #d79b9b;
  --red-3: #e1b4b4;
  --red-2: #ebcdcd;
  --red-1: #f5e6e6;
}

html,
body {
  overflow-x: hidden;
}

img{
  object-fit: cover;
}
