@import url("../../assets/css/colors.min.css");
/* @import url("../../assets/css/vendors.min.css"); */
@import url("../../assets/css/components.min.css");
@import url("../../assets/css/bootstrap.min.css");
@import url("../../assets/css/bootstrap-extended.min.css");
@import url("../../assets/css/index.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}
section.section {
  padding: 5rem 0;
}
#section__header {
  text-align: center;
}
#section__header header h2 {
  font-size: 3rem;
  position: relative;
}
#section__header header span {
  background-color: red;
  height: 4px;
  width: 45px;
  border-radius: 4px;
}

/* home page style  */
/* about section  */
#about__section{
  background: url('../../assets/images/bg/blob-scene-haikei.svg') no-repeat;
  background-position: center;
  background-size: cover;
}
#about__section .about__section-desc p {
  line-height: 2;
  font-size: 1.25rem;
}
