/* @import url("../../assets/css/vendors.min.css"); */
/* @import url("../../assets/css/colors.min.css"); */
@import url("../../assets/css/components.min.css");
@import url("../../assets/css/bootstrap.min.css");
@import url("../../assets/css/bootstrap-extended.min.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --red: #9c0404;
  --red-17: #1f0101;
  --red-16: #2f0101;
  --red-15: #3e0202;
  --red-14: #4e0202;
  --red-13: #5e0202;
  --red-12: #6d0303;
  --red-11: #7d0303;
  --red-10: #8c0404;
  --red-9: #a61d1d;
  --red-8: #b03636;
  --red-7: #ba4f4f;
  --red-6: #c46868;
  --red-5: #ce8282;
  --red-4: #d79b9b;
  --red-3: #e1b4b4;
  --red-2: #ebcdcd;
  --red-1: #f5e6e6;
  --shadow-1: 0px 2px 15px rgba(0, 0, 0, 0.1);
  --shadow-2: 5px 5px 11px #ebebeb, -5px -5px 11px #fff;
  --shadow-3: 20px 38px 34px -26px hsl;
}

html,
body {
  overflow-x: hidden;
}

img {
  object-fit: cover;
}
.btn {
  text-transform: uppercase !important;
}
button:disabled,
button[disabled] {
  border: 1px solid #d8d8d8 !important;
  background: #d8d8d8 !important;
  color: #666666 !important;
  z-index: inherit !important;
}
section.section {
  padding: 5rem 0;
}

#homepage__loader {
  height: 100vh;
  width: 100vw;
  position: relative;
  /* position: fixed; */
  top: 0;
  left: 0;
  padding: 10px;
  background: rgba(255, 255, 255, 0.25);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  justify-content: center;
  align-items: center;
}

#section__header header h2 {
  font-size: 1.8rem;
  padding: 5px 10px;
  border-radius: 5px;
  position: relative;
  background-color: var(--red-1);
}
#section__header header span {
  background-color: var(--red);
  height: 5px;
  width: 40px;
  border-radius: 5px;
}
/* page header  */
#page__header {
  height: 400px;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.9)),
    url("../../assets/images/bg/page-header.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 3rem;
}
#page__header h1 {
  font-size: 2.5rem;
}
