.slideUp {
  transform: translateY(-200px);
  transition: transform 1s ease-out;
}

.slideDown {
  transform: translateY(0);
  transition: transform 1s ease-out;
}

.nav-Link {
  font-size: 1.1rem !important;
}
.nav-Link.active {
  color: var(--red) !important;
  border-bottom: 2px solid var(--red);
}
.nav-Link:hover {
  color: var(--red) !important;
  border-bottom: 2px solid var(--red);
}

@media only screen and (max-width: 992px) {
  .header__one {
    background: white !important;
  }
}
