.slideUp {
  transform: translateY(-200px);
  transition: transform 1s ease-out;
}
.slideDown {
  transform: translateY(0);
  transition: transform 1s ease-out;
}
.nav-link {
  font-size: 1.1rem !important;
  border-bottom: 2px solid transparent;
  display: inline-block;
}
.nav-link.active {
  color: var(--red) !important;
  border-bottom: 2px solid var(--red);
}
.nav-link:hover {
  color: var(--red) !important;
  border-bottom: 2px solid var(--red);
}

@media only screen and (max-width: 992px) {
  .header__one {
    background: white !important;
  }
}
